.card {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-evenly;
  border: 2px solid gray;
  margin: 1rem;
  text-align: center;
  min-height: 8rem;
  font-size: 1.7rem;
  min-width: 8.5rem;
  cursor: pointer;
}

.card.active {
  box-shadow: 0px 0px 9px 4px #f89a35;
}

.card-header {
  border-bottom: 2px solid gray;
  padding-bottom: 0.5rem;
}

.card-body {
  display: flex;
  justify-content: center;
}

.key {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  border: 3px solid gray;
}

.card-holder {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  max-width: 30rem;
}

.config-group-header {
  font-size: 2rem;
  text-align: center;
}

#config-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.error {
  animation: fade 2s ease-in-out;
}

@keyframes fade {
  0%,
  100% {
    color: inherit;
    box-shadow: 0px 0px 0px 0px red;
  }
  50% {
    color: red;
    box-shadow: 0px 0px 20px 8px red;
  }
}
